<div class="" style="min-height: 100%;">

    <h2>Faculty Listing</h2>

    <div style="display: block; padding-top: 10px; padding-bottom: 10px;">
        <a ui-sref="add" class="btn btn-primary">Create New Faculty</a>
    </div>

    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>name_en</th>
            <th>Aciton</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="faculty in faculties">
            <td>{{faculty.id}}</td>
            <td>{{faculty.name_en}}</td>
            <td>
                <a class="btn btn-info" ui-sref="cover({id : faculty.id})">Cover Management</a>
                <a class="btn btn-primary" ui-sref="edit({ id : faculty.id})">Edit</a>
                <button class="btn btn-danger" ng-click="open('lg',faculty)">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>

</div>
