<div class="">

    <form ng-submit="save()" class="form form-horizontal">
        <formset>
            <legend ng-if="state.current.name==='add'">New Project</legend>
            <legend ng-if="state.current.name==='edit'">Update Project</legend>

            <div class="form-group">
                <label class="col-sm-2 control-label">Project English Name</label>

                <div class="col-sm-10">
                    <input type="text" ng-model="project.name_en" class="form-control" placeHolder="Project Name">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Project Thai Name</label>

                <div class="col-sm-10">
                    <input type="text" ng-model="project.name_th" class="form-control" placeHolder="ชื่อโครงการ">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Faculty : </label>

                <div class="col-sm-10">
                    <input type="text" ng-model="project.faculty" placeholder="Faculty"
                           typeahead="faculty as faculty.name_en for faculty in searchFaculty($viewValue)"
                           class="form-control">
                </div>
            </div>
        </formset>
        <formset>
            <legend>Project Researchers</legend>
            <div class="form-group">
                <label class="col-sm-2 control-label">รายชื่อนักวิจัย</label>

                <div class="col-sm-10">

                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" ng-click="addResearcher(selResearcher)" type="button">Add</button>
                        </span>

                        <input type="text" ng-model="selResearcher" placeholder="Researcher"
                               typeahead="researcher as researcher.title+researcher.firstname+' '+researcher.lastname for researcher in searchResearcher($viewValue)"
                               class="form-control">
                    </div>

                    <table class="table table-bordered table-hover" style="margin-top: 10px;">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Aciton</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr ng-repeat="researcher in project.researchers">
                            <td>{{researcher.title}}{{researcher.firstname}} {{researcher.lastname}}</td>
                            <td>
                                <button class="btn btn-danger" ng-click="open('lg',researcher)">Delete</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </formset>


        <formset>
            <legend>Project Videos</legend>
            <div class="form-group">
                <label class="col-sm-2 control-label">รายการวิดีโอ (youtube)</label>

                <div class="col-sm-10">

                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" ng-click="addVideo(video)" type="button">Add</button>
                        </span>

                        <input type="text" ng-model="video" placeholder="Youtube Link" class="form-control">
                    </div>

                    <table class="table table-bordered table-hover" style="margin-top: 10px;">
                        <thead>
                        <tr>
                            <th>Link</th>
                            <th>Action</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr ng-repeat="video in project.videos">
                            <td>{{video.url}}</td>
                            <td>
                                <button class="btn btn-danger" ng-click="deleteVideo(video)">Delete</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </formset>


        <formset>
            <legend>
                Project Detail
            </legend>

            <div class="form-group">
                <label class="col-sm-2 control-label">Latitude</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="project.latitude" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Longitude</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="project.longitude" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">บทสรุปผู้บริหาร</label>

                <div class="col-sm-10">
                    <textarea ng-model="project.executive_summary" class="form-control" rows="10"></textarea>
                </div>
            </div>
        </formset>


        <formset>
            <div class="form-group col-sm-12">
                <button type="submit" class="btn btn-primary">Save</button>
                <a class="btn btn-default" ui-sref="list">Close</a>
            </div>
        </formset>

    </form>
</div>
