<div class="" style="min-height: 100%;">

    <h2>Project Listing</h2>

    <div style="display: block; padding-top: 10px; padding-bottom: 10px;">
        <a ui-sref="add" class="btn btn-primary">Create New Project</a>
    </div>

    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name English</th>
            <th>Aciton</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="project in projects">
            <td>{{project.id}}</td>
            <td>{{project.name_en}}</td>
            <td>
                <a class="btn btn-info" ui-sref="cover({id : project.id})">Cover</a>
                <a class="btn btn-default" ui-sref="photo({id : project.id})">Photo</a>
                <a class="btn btn-primary" ui-sref="edit({ id : project.id})">Edit</a>
                <button class="btn btn-danger" ng-click="open('lg',project)">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>

</div>
