<div class="">

        <form ng-submit="save()" class="form form-horizontal">
            <formset>
                <legend ng-if="state.current.name==='add'">New Researcher</legend>
                <legend ng-if="state.current.name==='edit'">Update Researcher</legend>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Title</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="researcher.title" class="form-control" placeHolder="Title" >
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">First Name</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="researcher.firstname" class="form-control" placeHolder="First Name" >
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Last Name</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="researcher.lastname" class="form-control" placeHolder="Last Name" >
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Faculty : </label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="researcher.faculty" placeholder="Faculty" typeahead="faculty as faculty.name_en for faculty in searchFaculty($viewValue)" class="form-control">
                    </div>
                </div>

            </formset>

            <formset>
                <div class="form-group col-sm-12">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a class="btn btn-default" ui-sref="list">Close</a>
                </div>
            </formset>

        </form>
</div>
